/* Custom app css */
table {
	box-shadow: #bfbfbf 2px 2px 5px;
}
.hidden {
    display: none !important;
}
.placeholder {
    padding: 0;
    margin: 0;
}
.short-code em {
    cursor: pointer;
}
.custom-alert, #copied {
	position: fixed;
    z-index: 99;
    text-align: center;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-brand {
    font-size: 1rem;
}
#loader-content {
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00000038;
}
#loader-content .loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}
